<button type="button" style="display: inline-flex; float: left; margin-left: 50px" (click)="backToMainPage()">Back</button>
<div class="container">
    <!-- BACK TO MAIN PAGE button -->    

    <form #quizForm="ngForm" (ngSubmit)="getRecommendation(quizForm)"> 
        <h3 style=" font-size: 24px;   margin-bottom: 20px; background-color: rgba(255, 255, 255, .8); border-radius: 4px; padding: 7px;; display: inline-flex">   
Answer questions for your personalized recommendation</h3>
        <div class="row">
    <div class="col">
    <label for="weather">What's the weather like now?</label>
        <ng-select [(ngModel)]="weather" placeholder="The weather outside is..." name="weather" id="weather" ngModel>
            <ng-option value="sunny">Sunny</ng-option>
            <ng-option value="cloudy">Cloudy</ng-option>
            <ng-option value="rainy">Rainy</ng-option>
            <ng-option value="snowy">Snowy</ng-option>
            <ng-option value="windy">Windy</ng-option>
            <ng-option value="thunderstorms">Thunderstorms</ng-option>
            <ng-option value="clearskies">Clear skies</ng-option>
        </ng-select>
        <br>
        <label for="feelings">How are you feeling today?</label>
        <ng-select [(ngModel)]="feelings" placeholder="I'm feeling..." name="feelings" id="feelings" ngModel>
            <ng-option value="happy">Happy</ng-option>
            <ng-option value="sad">Sad</ng-option>
            <ng-option value="excited">Excited</ng-option>
            <ng-option value="calm">Calm</ng-option>
            <ng-option value="angry">Angry</ng-option>
        </ng-select>
        <br>
        <label for="gender">What is your gender?</label>
        <ng-select [(ngModel)]="gender" placeholder="I am a..."  name="gender" id="gender" ngModel>
            <ng-option value="male">Male</ng-option>
            <ng-option value="female">Female</ng-option>
            <ng-option value="nonBinary">Non-binary</ng-option>
            <ng-option value="notSay">Prefer not to say</ng-option>
        </ng-select>
    </div>
    <br>
    <div class="col">
        <label for="age">What is your age group?</label>
        <ng-select [(ngModel)]="age" placeholder="I am... years old"  name="age" id="age" ngModel>
            <ng-option value="under 18">Under 18</ng-option>
            <ng-option value="18-24">18-24</ng-option>
            <ng-option value="25-34">25-34</ng-option>
            <ng-option value="35-44">35-44</ng-option>
            <ng-option value="45+">45 and above</ng-option>
        </ng-select>
        <br>
        <label for="time">What is your ideal movie runtime?</label>
        <ng-select [(ngModel)]="time" placeholder="I like... movies" name="time" id="time" ngModel>
            <ng-option value="up to one hour">Short (up to 1 hour)</ng-option>
            <ng-option value="1 to 2 hours">Average (1-2 hours)</ng-option>
            <ng-option value="more than 2 hours">Long (more than 2 hours)</ng-option>
        </ng-select>
        <br>
        <label for="when">Recent releases or classic films?</label>
        <ng-select [(ngModel)]="when" placeholder="I prefer..." name="when" id="when" ngModel>
            <ng-option value="recent releases">Recent releases</ng-option>
            <ng-option value="classic releases">Classic films</ng-option>
            <ng-option value="both recent and classic releases">Both</ng-option>
        </ng-select>
</div></div>
    <br><br>
    <!-- RESET button -->
    <button type="button" style="margin-right: 10px;" (click)="resetForm()">Reset</button>
    <button type="submit">Get Personalized Recommendation</button><br><br>
</form>
    <div id="result"></div>
    <div class="ring" *ngIf="loading">Loading</div>
</div>