<h1>
    Your Random Movies
</h1>
<div *ngFor="let movie of randomMovies; let i = index">
    <div class="infoHolder">
        <h2>
            Movie Title #{{i+1}}:<br> <h1 class="title-header" style="font-family:Impact;">{{movie.Title}}</h1>
        </h2>
        <h3>
        Description:<br> {{movie.Overview}}
        </h3>
        <h3>
            Language:<br> {{movie.OriginalLanguage}}
        </h3>
        <h3>
        Release Date:<br> {{movie.ReleaseDate}}
        </h3>
        <h3>
        Runtime Minutes:<br> {{movie.RuntimeMinutes}}
        </h3>

        <!-- Like and Dislike buttons -->
        <div>
            <button *ngIf="isSignedIn()" (click)="likeMovie(movie)" class="btn btn-success">Like</button>
            <button *ngIf="isSignedIn()" (click)="dislikeMovie(movie)" class="btn btn-danger">Dislike</button>
        </div>
    </div>
    <div *ngIf="i === 2 && randomMovies.length >= 3">
        <button (click)="getAnotherThreeRecommendations()" class="btn btn-primary" style="background-image: linear-gradient( rgb(36, 63, 255),rgb(129, 77, 255));">Give Me Another Three Recommendations</button>
    </div>
</div>