@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
::ng-deep .dp-modal-header {
    background: linear-gradient(
        to left, #814DFF,#FF83B6
      );

 }

 ::ng-deep .dp-modal-body {
    width: 100%;
    background-color: azure;
    height: 100%;
  }

.UserFavoritesDiv button {
    margin-top: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px;

    background-image: radial-gradient( rgba(255, 144, 34, .7),rgba(255, 131, 182));
}

.UserFavoritesDiv button:hover {
    background-image: linear-gradient( rgb(36, 63, 255),rgb(129, 77, 255));
    color: white;
}
.UserFavoritesDiv {
    text-align: center;
}
h2, h3 {
    border-radius: 4px;
    
    margin-bottom: 25px;
}
h2 {
    font-weight: 500;
}
.infoHolder {    background-image: radial-gradient( rgba(255, 144, 34, .7),rgba(255, 131, 182));
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 25px;
}
h3 {

}